<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Log in</title>
  </head>
  <body>
    <form action="/login" method="POST">
      <label for="emailField">Enter email:</label>
      <input id="emailField" type="email" name="email" placeholder="email address" >
        <label for="passwordField">Enter password:</label>
      <input id="passwordField" type="password" name="password" placeholder="password">
      <input type="submit" value="Submit">
    </form>
    <br>
    <br>
    <a href='/urls'>Back to URLS</a>
  </body>
</html>