<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <%- include partials/_header.ejs %>
  <!-- Add your EJS code here -->
  <ul>
    <% for(var obj in urls) {%>
      <li><%= obj %>: <%= urls[obj] %></li>
    <% }; %>
  </ul>
  <a href=''>Shorten a new URL</a>
</body>
</html>