<!DOCTYPE html>
<html lang="en">
  <head></head>
  <%- include partials/_header.ejs %>
  <body">
    <form action="/urls/new" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://">
      <input type="submit" value="Submit">
    </form>
    <br>
    <br>
    <a href='/urls'>Back to URLS</a>
  </body>
</html>